button {
  margin-left: 5px;
  margin-right: 5px;
}

button#account-button {
  margin-left: 15px;
}

button#register-button {
  margin-right: 15px;
}

a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar{
  border-radius: 3px;
}

@media(max-width: 959px){
  mat-toolbar{
    border-radius: 0;
  }
}
