<mat-card class="user-card">
  <mat-card-header>
    <mat-card-title>{{ user.name }} {{ user.surname }}</mat-card-title>
    <mat-card-subtitle>Moje konto</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <mat-list>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Imię</h3>
        <mat-list-item>
          <h4 mat-line>{{user.name}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Nazwisko</h3>
        <mat-list-item>
          <h4 mat-line>{{user.surname}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>E-mail</h3>
        <mat-list-item>
          <h4 mat-line>{{user.email}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Data dołączenia</h3>
        <mat-list-item>
          <h4 mat-line>{{user.joinDate}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Postęp</h3>
        <mat-list-item>
          <h4 mat-line>{{ progress }} %</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
      </mat-list>
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="onOffersView()">Moje oferty</button>
    <button mat-raised-button (click)="onOpinionsGivenView()">Wystawione opinie</button>
    <button mat-raised-button (click)="onOpinionsReceiveView()">Otrzymane opinie</button>
  </mat-card-actions>
</mat-card>
