<mat-card class="user-card">
  <mat-card-header>
    <mat-card-title>{{ userData.name }} {{ userData.surname }}</mat-card-title>
    <mat-card-subtitle>Moje konto</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <mat-list>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Imię</h3>
        <mat-list-item>
          <h4 mat-line>{{userData.name}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Nazwisko</h3>
        <mat-list-item>
          <h4 mat-line>{{userData.surname}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>E-mail</h3>
        <mat-list-item>
          <h4 mat-line>{{userData.email}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Numer telefonu</h3>
        <mat-list-item>
          <h4 mat-line>{{userData.phoneNumber}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="onOffersView()">Moje oferty</button>
    <button mat-raised-button (click)="onMyOpinionsView()">Wystawione opinie</button>
    <button mat-raised-button (click)="onOpinionsReceiveView()">Otrzymane opinie</button>
  </mat-card-actions>
</mat-card>
