<mat-card style="width: 20%; margin-left: auto; margin-right: auto; text-align: center;">
  <mat-card-title>Dodaj opinię o użytkowniku <br>{{ user.name }} {{ user.surname }} <br>({{ user.email }})</mat-card-title>
  <mat-card-content style="text-align: center;">
    <p>
      <mat-form-field>
        <textarea matInput type="text" placeholder="Treść opinii" [formControl]="text" autocomplete="off" required autofocus></textarea>
        <mat-error *ngIf="text.invalid">{{getTextErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Ocena</mat-label>
        <mat-select [formControl]="grade" required>
          <mat-option *ngFor="let grade of grades" [value]="grade">
            {{grade}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-raised-button (click)="tryAddOpinion()" [disabled]="!text.valid
                                                          || !grade.valid">Dodaj opinię
    </button>
    <div class="row" style="text-align: center">
      <div class="col-md-4 col-md-offset-4">
        <label class="error">{{errorMessage}}</label>
        <label class="success">{{successMessage}}</label>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
