<mat-card style="width: 20%; margin-left: auto; margin-right: auto; text-align: center;">
    <mat-card-title>Rejestracja</mat-card-title>
  <mat-card-content style="text-align: center;">
    <p>
      <mat-form-field>
        <input matInput type="email" placeholder="E-mail" [formControl]="email" autocomplete="off" required autofocus>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="Hasło" [type]="hide ? 'password' : 'text'" [formControl]="password"
               autocomplete="off" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput type="text" placeholder="Imię" [formControl]="name" autocomplete="off" required>
        <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput type="text" placeholder="Nazwisko" [formControl]="surname" autocomplete="off" required>
        <mat-error *ngIf="surname.invalid">{{getSurnameErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput type="text" placeholder="Numer telefonu" [formControl]="phoneNumber" autocomplete="off" minlength="7">
        <mat-error *ngIf="phoneNumber.invalid">{{getPhoneNumberErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
    <!--class="d-block mr-0 ml-auto"-->
  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-raised-button (click)="tryRegister()" [disabled]="!password.valid
                                                          || !name.valid
                                                          || !surname.valid
                                                          || !email.valid
                                                          || !phoneNumber.valid">Zarejestruj się
    </button>
    <div class="row" style="text-align: center">
      <div class="col-md-4 col-md-offset-4">
        <label class="error">{{errorMessage}}</label>
        <label class="success">{{successMessage}}</label>
      </div>
    </div>
  </mat-card-actions>
  <div class="row" style="text-align: center">
    <div class="col-md-4 col-md-offset-4">
      <p>Masz już konto? <button mat-raised-button (click)="redirectToLoginScreen()">Zaloguj się</button></p>
    </div>
  </div>
</mat-card>
